<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
        Fuck the world, feed it beans<%=@user.name%>.
    </p>

  </body>
</html>
